/* yg_01_main_pcFull min 1366 */
@media screen and (min-width: 1366px) {
  body,html{width: 100%; height: 100%;}
  #wrap{width: 100%; height: 100%; background-color: #acc;}

}
/* -----------yg_01_main_pcFull min 1366 */