/* yg_pcFull min 1366 */
@media screen and (min-width: 1366px) {
/* #headBox */
#headBox{width: width: 100%; height: 150px; background-color: #191495;}
h1{width: 60px; height: 45px; background-color: #fff;}
#headBox>h2{display: block; overflow: hidden; position: absolute; z-index: -1; width: 0; height: 0;}

/* //#headBox */
}
/* -----------yg_pcFull min 1366 */